<mat-table
  *ngIf="dataBase.length > 0"
  [dataSource]="dataBase"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="day">
    <mat-header-cell *matHeaderCellDef> Dia</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.day + 1 }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Data</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.date | date : "dd/MM/YYYY hh:mm" }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Valor</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.price | currency : "BRL" }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="variationDMinusOne">
    <mat-header-cell *matHeaderCellDef>
      Variação sobre o dia anterior</mat-header-cell
    >
    <mat-cell *matCellDef="let row">
      {{
        row.id === 1 ? "-" : (row.variationDMinusOne | percent : "1.2-2")
      }}</mat-cell
    >
  </ng-container>
  <ng-container matColumnDef="firstDateVariation">
    <mat-header-cell *matHeaderCellDef>
      Variação acumulada</mat-header-cell
    >
    <mat-cell *matCellDef="let row">
      {{ row.id === 1 ? "-" : (row.firstDateVariation | percent : "1.2-2") }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<div *ngIf="dataBase.length === 0" class="no-lines">
  Não há registros para exibir no momento!
</div>
